.ui-field-contain label span{
    color: #ec971f;
    font-weight: bold;
    font-style: inherit;
    padding-left: 10px;
}
.ui-field-contain label em{
    padding-left: 10px;
}

.order-btn-group{
    text-align: center;
}
.product ul{
    overflow: hidden;
    clear: both;
}
.product li{
    float: left;
    padding:2px 5px;
    background: #1fb9df;
    border-radius: 3px;
    margin:2px 5px;
    color: #fff;
    text-shadow: none;
}
.order-btn-add{
    display:block;
    padding:5px 5px;
    background: #ec971f;
    width: 50px;
    border-radius: 3px;
    margin:2px 5px !important;
    text-decoration: none;
    color: #fff !important;
    text-shadow: none;

}


.all-product{
    overflow: hidden;
    clear: both;
    padding: 10px 5px;
}
.all-product li{
    padding: 5px;
}
.all-product .select{
    background: #ec971f;
}